.container {
  nav {
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;

      li {
        list-style: none;
        margin: 20px 10px;
        background: azure;
        padding: 5px 10px;
        border: 1px solid #ccc;

        a {
          text-decoration: none;
        }
      }
    }
  }
}
