.toggle {
    display: flex;
    flex-direction: row;
    margin: 20px 10px;
}
.toggle .option {
    padding: 5px 10px;
    border: 1px solid #666;
    cursor: pointer;
    margin-right: -1px;
}
.toggle .option.disabled {
    opacity: 0.5;
}
.toggle .option.active {
    background-color: dodgerblue;
    color: #fff;
}


